<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>İsmek Online Sınav Sistemi</title>
    <!-- Bootstrap core CSS -->
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
  <!--===============================================================================================-->  
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/blog-home.css">
<!--===============================================================================================-->
  <style>
  body {
    padding-top: 54px;
  }

  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }
  </style>
  </head>

  <body style="background: url('images/arkaplan8.png') !important;">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-color fixed-top">
      <div class="container-fluid">
          <div class="col-md-10 col-sm-4">
            <a class="navbar-brand" style="float: left !important;" href="index.html">İsmek Online Sınav Sistemi</a>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="dropdown show justify-content-end">
              <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style=" background-color: white !important; border-color: #5bc0de !important; color:#5bc0de; "><i class="fa fa-fw fa-user"></i>Sibel Özden
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="login.html"><i class="fa fa-fw fa-sign-out"></i> Çıkış</a>
              </div>
          </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page Content -->
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-12">
          <h2 class="my-4">Mülakat Soruları</h2>
          <!-- Blog Post -->
          <div class="card border-info mb-4">
            <div class="card-body">
            <div class="form-group">
              <label for="comment">İsmek Hakkında Ne Düşünüyorsunuz?</label>
              <textarea class="form-control" rows="2" id="comment"></textarea>
            </div>
            <div class="form-group">
              <label for="comment">Sibel Özden Hakkında Ne Düşünüyorsunuz?</label>
              <textarea class="form-control" rows="2" id="comment">Onu çok seviyoruz :) </textarea>
            </div>
            </div>
          </div>
          <a href="mulakat_bitis_gecis.html" class="button btn-info float-right"><span>Bitir </span></a>
        </div>
      </div>
    </div>
    

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
    <script src="vendor/tilt/tilt.jquery.min.js"></script> 
    <script src="js/main.js"></script>
    <script src="js/time.js"></script>
    <script>
      $('.js-tilt').tilt({
        scale: 1.1
      })
    </script>

  </body>

</html>
