<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>İsmek Online Sınav Sistemi</title>
    <!-- Bootstrap core CSS -->
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
  <!--===============================================================================================-->  
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/blog-home.css">
<!--===============================================================================================-->
  <style>
  body {
    padding-top: 54px;
  }

  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }
  </style>
  </head>

  <body style="background: url('images/arkaplan8.png') !important;">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-color fixed-top">
      <div class="container-fluid">
          <div class="col-md-10 col-sm-4">
            <a class="navbar-brand" style="float: left !important;" href="index.html">İsmek Online Sınav Sistemi</a>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="dropdown show justify-content-end">
              <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style=" background-color: white !important; border-color: #5bc0de !important; color:#5bc0de; "><i class="fa fa-fw fa-user"></i>Sibel Özden
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="login.html"><i class="fa fa-fw fa-sign-out"></i> Çıkış</a>
              </div>
          </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active"></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page Content -->
    <div class="container mt-3">
      <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <h1 class="my-4">Web Tasarım Sınavı</h1>
            <!-- Blog Post -->
            <div class="row">
              <div class="col">
                <div class="card mb-4">
                  <div class="card-body">
                    </div>
                  </div>
                  <div class="card mb-4" style="width: 265px !important;">
                    <div class="card-body">
                      <button class="btn btn-outline-info btn-circle"><span>A </span></button>
                      <button class="btn btn-outline-info btn-circle"><span>B </span></button>
                      <button class="btn btn-outline-info btn-circle"><span>C </span></button>
                      <button class="btn btn-outline-info btn-circle"><span>D </span></button>
                    </div>
                  </div>
                <a href="sinav_mulakat_gecis.html" class="button btn-info float-right"><span>İlerle </span></a>
              </div>
            </div>
            
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
          <!-- Search Widget -->
          <div class="card border-info my-4">
            <h5 class="card-header text-center">Süre</h5>
            <div class="card-body text-center">
            <!-- Time Counter -->
             <p id="time-counter" style="font-size:26px;" ></p>
            </div>
          </div>
          <!-- Categories Widget -->
          <div class="card border-info my-4">
            <h5 class="card-header text-center">Sorular</h5>
            <div class="card-body">
              <div class="row ">
               <button type="button" class="btn btn-info btn-circle">1</button>
                <button type="button" class="btn btn-info btn-circle">2</button>
                 <button type="button" class="btn btn-info btn-circle">3</button>
              </div>
            </div>
          </div>
          <!-- Side Widget -->
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->

    

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
    <script src="vendor/tilt/tilt.jquery.min.js"></script> 
    <script src="js/main.js"></script>
    <script src="js/time.js"></script>
    <script>
      $('.js-tilt').tilt({
        scale: 1.1
      })
    </script>

  </body>

</html>
