
@{
    ViewData["Title"] = "Sertifikalarim";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->

        <h1 class="page-title">
            Sertifikalarim
            <small>user account page</small>
        </h1>
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PROFILE SIDEBAR -->
                <div class="profile-sidebar">
                    <!-- PORTLET MAIN -->
                    <div class="portlet light profile-sidebar-portlet ">
                        <!-- SIDEBAR USERPIC -->
                        <div class="profile-userpic">
                            <img src="~/assets/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">
                        </div>
                        <!-- END SIDEBAR USERPIC -->
                        <!-- SIDEBAR USER TITLE -->
                        <div class="profile-usertitle">
                            <div class="profile-usertitle-name">Kurum Logosu </div>
                            <div class="profile-usertitle-job"> Fatih </div>
                        </div>
                        <!-- END SIDEBAR USER TITLE -->
                        <!-- SIDEBAR BUTTONS -->
                        <div class="profile-userbuttons">
                            <button type="button" class="btn btn-circle green btn-sm">Email Gönder</button>
                            <button type="button" class="btn btn-circle red btn-sm">Sms Gönder</button>
                        </div>
                        <!-- END SIDEBAR BUTTONS -->
                        <!-- SIDEBAR MENU -->
                        <div class="profile-usermenu">
                            <ul class="nav">
                                <li>
                                    <a href="#">
                                        <i class="icon-home"></i> Sınıf Adi / 08
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-home"></i> Ders Adi
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-settings"></i> Sınıf Mevcudu
                                    </a>
                                </li>

                                <li class="active">
                                    <a href="#">
                                        <i class="icon-settings"></i> Ders Başlama Saati
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- END MENU -->
                    </div>
                    <!-- END PORTLET MAIN -->
                    <!-- PORTLET MAIN -->

                </div>
                <!-- END BEGIN PROFILE SIDEBAR -->
                <!-- BEGIN PROFILE CONTENT -->
                <div class="profile-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet-body">
                                <div class="tab-content">
                                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                    <div class="portlet light ">
                                        <div class="portlet-title">
                                            <div class="caption font-dark">
                                                <i class="icon-settings font-dark"></i>
                                                <span class="caption-subject bold uppercase"> Sertifika Bilgilerim</span>
                                            </div>
                                            <div class="actions">
                                                <div class="btn-group btn-group-devided" data-toggle="buttons">
                                                    <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                                        <input type="radio" name="options" class="toggle" id="option1">Actions
                                                    </label>
                                                    <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                                        <input type="radio" name="options" class="toggle" id="option2">Settings
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                                                <span></span>
                                                            </label>
                                                        </th>
                                                        <th>Kurs Adi </th>
                                                        <th>Eğitim Başlangıç Tarihi </th>
                                                        <th>Eğitim Bitiş Tarihi  </th>
                                                        <th>Giriş Sayisi</th>
                                                        <th>Sertifika Durumu</th>
                                                        <th>Teslim Durumu</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="odd gradeX">
                                                        <td>
                                                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                                <input type="checkbox" class="checkboxes" value="1" checked />
                                                                <span></span>
                                                            </label>
                                                        </td>
                                                        <td> shuxer </td>
                                                        <td> shuxer </td>
                                                        <td>
                                                            <a href="mailto:shuxer@gmail.com"> shuxer@gmail.com </a>
                                                        </td>
                                                        <td>
                                                            <span class="label label-sm label-success"> Approved </span>
                                                        </td>
                                                        <td class="center"> 12 Jan 2012 </td>
                                                        <td class="center"> 12 Jan 2012 </td>
                                                    </tr>

                                                    <tr class="odd gradeX">
                                                        <td>
                                                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                                <input type="checkbox" class="checkboxes" value="2" />
                                                                <span></span>
                                                            </label>
                                                        </td>
                                                        <td> shuxer </td>
                                                        <td> shuxer </td>
                                                        <td>
                                                            <a href="mailto:shuxer@gmail.com"> shuxer@gmail.com </a>
                                                        </td>
                                                        <td>
                                                            <span class="label label-sm label-success"> Approved </span>
                                                        </td>
                                                        <td class="center"> 12 Jan 2012 </td>
                                                        <td class="center"> 12 Jan 2012 </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- END EXAMPLE TABLE PORTLET-->


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PROFILE CONTENT -->
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
