@model OnlineSinavSistemi.Model.Data.Ders

@{
    ViewData["Title"] = "Ekle";
}

<h2>Ekle</h2>

<h4>Ders</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Ekle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KursId" class="control-label"></label>
                <input asp-for="KursId" class="form-control" />
                <span asp-validation-for="KursId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Baslik" class="control-label"></label>
                <input asp-for="Baslik" class="form-control" />
                <span asp-validation-for="Baslik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Icerik" class="control-label"></label>
                <input asp-for="Icerik" class="form-control" />
                <span asp-validation-for="Icerik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoUrl" class="control-label"></label>
                <input asp-for="VideoUrl" class="form-control" />
                <span asp-validation-for="VideoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DokumanUrl" class="control-label"></label>
                <input asp-for="DokumanUrl" class="form-control" />
                <span asp-validation-for="DokumanUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="SilindiMi" /> @Html.DisplayNameFor(model => model.SilindiMi)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="KayitTarihi" class="control-label"></label>
                <input asp-for="KayitTarihi" class="form-control" />
                <span asp-validation-for="KayitTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuncellemeTarihi" class="control-label"></label>
                <input asp-for="GuncellemeTarihi" class="form-control" />
                <span asp-validation-for="GuncellemeTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

