
@{
    ViewData["Title"] = "Index";
     
}

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->

        @*<h1 class="page-title">
            Buttons
            <small>metronic & bootstrap style buttons, dropdowns, dropdown buttons, icon buttons, social icons, toolbars and more</small>
        </h1>*@
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="index.html">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>UI Features</span>
                </li>
            </ul>
            <div class="page-toolbar">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                        Actions
                        <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li>
                            <a href="#">
                                <i class="icon-bell"></i> Action
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-shield"></i> Another action
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-user"></i> Something else here
                            </a>
                        </li>
                        <li class="divider"> </li>
                        <li>
                            <a href="#">
                                <i class="icon-bag"></i> Separated link
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN BLOCK BUTTONS PORTLET-->
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-settings font-green-sharp"></i>
                            <span class="caption-subject font-green-sharp bold uppercase">SORU BANKASI</span>
                        </div>
                        <div class="actions">
                            <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                <i class="icon-cloud-upload"></i>
                            </a>
                            <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                <i class="icon-wrench"></i>
                            </a>
                            <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                <i class="icon-trash"></i>
                            </a>
                        </div>
                    </div>
                    @*<div class="portlet-body">
                                    <a href="javascript:;" class="icon-btn">
                                        <i class="fa fa-group"></i>
                                        <div> Tarama Testleri </div>
                                        <span class="badge badge-danger"> 2 </span>
                                    </a>
                                    <a href="javascript:;" class="icon-btn">
                                        <i class="fa fa-barcode"></i>
                                        <div> Deneme Sınavlari </div>
                                        <span class="badge badge-success"> 4 </span>
                                    </a>
                                    <a href="javascript:;" class="icon-btn">
                                        <i class="fa fa-bar-chart-o"></i>
                                        <div> Reports </div>
                                    </a>
                                    <a href="javascript:;" class="icon-btn">
                                        <i class="fa fa-sitemap"></i>
                                        <div>Eğitmene Özel - Testlerim </div>
                                    </a>
                                    <a href="javascript:;" class="icon-btn">
                                        <i class="fa fa-calendar"></i>
                                        <div> Alıştırmalar </div>
                                        <span class="badge badge-success"> 4 </span>
                                    </a>
                                    <a href="javascript:;" class="icon-btn">
                                        <i class="fa fa-envelope"></i>
                                        <div> Videolar </div>
                                        <span class="badge badge-info"> 12 </span>
                                    </a>
                                    @*<a href="javascript:;" class="icon-btn">
                            <i class="fa fa-bullhorn"></i>
                            <div> Notification </div>
                            <span class="badge badge-danger"> 3 </span>
                        </a>
                        <a href="javascript:;" class="icon-btn">
                            <i class="fa fa-map-marker"></i>
                            <div> Locations </div>
                        </a>
                        <a href="javascript:;" class="icon-btn">
                            <i class="fa fa-money">
                                <i></i>
                            </i>
                            <div> Finance </div>
                        </a>
                        <a href="javascript:;" class="icon-btn">
                            <i class="fa fa-plane"></i>
                            <div> Projects </div>
                            <span class="badge badge-info"> 21 </span>
                        </a>
                        <a href="javascript:;" class="icon-btn">
                            <i class="fa fa-thumbs-up"></i>
                            <div> Feedback </div>
                            <span class="badge badge-info"> 2 </span>
                        </a>
                        <a href="javascript:;" class="icon-btn">
                            <i class="fa fa-cloud"></i>
                            <div> Servers </div>
                            <span class="badge badge-danger"> 2 </span>
                        </a>
                        <a href="javascript:;" class="icon-btn">
                            <i class="fa fa-globe"></i>
                            <div> Regions </div>
                        </a>
                        <a href="javascript:;" class="icon-btn">
                            <i class="fa fa-heart-o"></i>
                            <div> Popularity </div>
                            <span class="badge badge-info"> 221 </span>
                        </a>
                                </div>*@

                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-lg-2 col-md-4 col-xs-12">
                                <div class="mt-element-ribbon bg-grey-steel">
                                    <div class="ribbon ribbon-color-default uppercase">Tarama Testleri</div>
                                    <p class="ribbon-content"><a href="#">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</a></p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-xs-12">
                                <div class="mt-element-ribbon bg-grey-steel">
                                    <div class="ribbon ribbon-color-primary uppercase">Deneme Sinavlari</div>
                                    <p class="ribbon-content"><a href="#">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</a></p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-xs-12">
                                <div class="mt-element-ribbon bg-grey-steel">
                                    <div class="ribbon ribbon-color-info uppercase">Eğitmene Özel -Testler</div>
                                    <p class="ribbon-content"><a href="#">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</a></p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-xs-12">
                                <div class="mt-element-ribbon bg-grey-steel">
                                    <div class="ribbon ribbon-color-success uppercase">Alıştırmalar</div>
                                    <p class="ribbon-content"><a href="#">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</a></p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-xs-12">
                                <div class="mt-element-ribbon bg-grey-steel">
                                    <div class="ribbon ribbon-color-danger uppercase ">Videolar</div>
                                    <p class="ribbon-content"><a href="#">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</a></p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-xs-12">
                                <div class="mt-element-ribbon bg-grey-steel">
                                    <div class="ribbon ribbon-color-warning uppercase ">Raporlar</div>
                                    <p class="ribbon-content"><a href="#">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</a></p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-xs-12">
                                <div class="mt-element-ribbon bg-grey-steel">
                                    <div class="ribbon ribbon-color-warning uppercase ">Ödev Takip</div>
                                    <p class="ribbon-content"><a href="#">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>


    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
