
@{
    ViewData["Title"] = "Derslerim";
     
}

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->

        <h1 class="page-title">
      Derslerim
            <small>custom bootstrap overlay elements to be used on any container</small>
        </h1>
        <div class="page-bar">

            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="index.html">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Elements</span>
                </li>
            </ul>
            <div class="page-toolbar">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                        Actions
                        <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li>
                            <a href="#">
                                <i class="icon-bell"></i> Action
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-shield"></i> Another action
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-user"></i> Something else here
                            </a>
                        </li>
                        <li class="divider"> </li>
                        <li>
                            <a href="#">
                                <i class="icon-bag"></i> Separated link
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- END PAGE HEADER-->
        <!-- BEGIN : OVERLAY -->
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="portlet light portlet-fit ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class=" icon-layers font-green"></i>
                            <span class="caption-subject font-green bold uppercase">Overlay 1 - Default</span>
                            <div class="caption-desc font-grey-cascade"> Activate by adding <pre class="mt-code">.mt-overlay-1</pre> class to your element. </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="mt-element-overlay">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mt-overlay-1">
                                        <img src="~/assets/pages/img/page_general_search/01.jpg" />
                                        <div class="mt-overlay">
                                            <ul class="mt-info">
                                                <li>
                                                    <a class="btn default btn-outline" href="javascript:;">
                                                        <i class="icon-magnifier"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="btn default btn-outline" href="javascript:;">
                                                        <i class="icon-link"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="portlet light portlet-fit ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class=" icon-layers font-green"></i>
                            <span class="caption-subject font-green bold uppercase">Overlay 1 - Scroll Up</span>
                            <div class="caption-desc font-grey-cascade"> Activate by adding <pre class="mt-code">.mt-overlay-1 .mt-scroll-up</pre> class to your element. </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="mt-element-overlay">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mt-overlay-1 mt-scroll-up">
                                        <img src="~/assets/pages/img/page_general_search/01.jpg" />
                                        <div class="mt-overlay">
                                            <ul class="mt-info">
                                                <li>
                                                    <a class="btn default btn-outline" href="javascript:;">
                                                        <i class="icon-magnifier"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="btn default btn-outline" href="javascript:;">
                                                        <i class="icon-link"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="portlet light portlet-fit ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class=" icon-layers font-green"></i>
                            <span class="caption-subject font-green bold uppercase">Overlay 1 - Scroll Down</span>
                            <div class="caption-desc font-grey-cascade"> Activate by adding <pre class="mt-code">.mt-overlay-1 .mt-scroll-down</pre> class to your element. </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="mt-element-overlay">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mt-overlay-1 mt-scroll-down">
                                        <img src="~/assets/pages/img/page_general_search/01.jpg" />
                                        <div class="mt-overlay">
                                            <ul class="mt-info">
                                                <li>
                                                    <a class="btn default btn-outline" href="javascript:;">
                                                        <i class="icon-magnifier"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="btn default btn-outline" href="javascript:;">
                                                        <i class="icon-link"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="portlet light portlet-fit ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class=" icon-layers font-green"></i>
                            <span class="caption-subject font-green bold uppercase">Overlay 1 - Scroll Left</span>
                            <div class="caption-desc font-grey-cascade"> Activate by adding <pre class="mt-code">.mt-overlay-1 .mt-scroll-left</pre> class to your element. </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="mt-element-overlay">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mt-overlay-1 mt-scroll-left">
                                        <img src="~/assets/pages/img/page_general_search/01.jpg" />
                                        <div class="mt-overlay">
                                            <ul class="mt-info">
                                                <li>
                                                    <a class="btn default btn-outline" href="javascript:;">
                                                        <i class="icon-magnifier"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="btn default btn-outline" href="javascript:;">
                                                        <i class="icon-link"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="portlet light portlet-fit ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class=" icon-layers font-green"></i>
                            <span class="caption-subject font-green bold uppercase">Overlay 1 - Default</span>
                            <div class="caption-desc font-grey-cascade"> Activate by adding <pre class="mt-code">.mt-overlay-1</pre> class to your element. </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="mt-element-overlay">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mt-overlay-1">
                                        <img src="~/assets/pages/img/page_general_search/01.jpg" />
                                        <div class="mt-overlay">
                                            <ul class="mt-info">
                                                <li>
                                                    <a class="btn default btn-outline" href="javascript:;">
                                                        <i class="icon-magnifier"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="btn default btn-outline" href="javascript:;">
                                                        <i class="icon-link"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="portlet light portlet-fit ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class=" icon-layers font-green"></i>
                            <span class="caption-subject font-green bold uppercase">Overlay 1 - Scroll Up</span>
                            <div class="caption-desc font-grey-cascade"> Activate by adding <pre class="mt-code">.mt-overlay-1 .mt-scroll-up</pre> class to your element. </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="mt-element-overlay">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mt-overlay-1 mt-scroll-up">
                                        <img src="~/assets/pages/img/page_general_search/01.jpg" />
                                        <div class="mt-overlay">
                                            <ul class="mt-info">
                                                <li>
                                                    <a class="btn default btn-outline" href="javascript:;">
                                                        <i class="icon-magnifier"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="btn default btn-outline" href="javascript:;">
                                                        <i class="icon-link"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="portlet light portlet-fit ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class=" icon-layers font-green"></i>
                            <span class="caption-subject font-green bold uppercase">Overlay 1 - Scroll Down</span>
                            <div class="caption-desc font-grey-cascade"> Activate by adding <pre class="mt-code">.mt-overlay-1 .mt-scroll-down</pre> class to your element. </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="mt-element-overlay">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mt-overlay-1 mt-scroll-down">
                                        <img src="~/assets/pages/img/page_general_search/01.jpg" />
                                        <div class="mt-overlay">
                                            <ul class="mt-info">
                                                <li>
                                                    <a class="btn default btn-outline" href="javascript:;">
                                                        <i class="icon-magnifier"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="btn default btn-outline" href="javascript:;">
                                                        <i class="icon-link"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="portlet light portlet-fit ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class=" icon-layers font-green"></i>
                            <span class="caption-subject font-green bold uppercase">Overlay 1 - Scroll Left</span>
                            <div class="caption-desc font-grey-cascade"> Activate by adding <pre class="mt-code">.mt-overlay-1 .mt-scroll-left</pre> class to your element. </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="mt-element-overlay">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mt-overlay-1 mt-scroll-left">
                                        <img src="~/assets/pages/img/page_general_search/01.jpg" />
                                        <div class="mt-overlay">
                                            <ul class="mt-info">
                                                <li>
                                                    <a class="btn default btn-outline" href="javascript:;">
                                                        <i class="icon-magnifier"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="btn default btn-outline" href="javascript:;">
                                                        <i class="icon-link"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END : OVERLAY -->
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
